---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Benefits from '../components/Benefits.astro';
import CTASection from '../components/CTASection.astro';
import FAQ from '../components/FAQ.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="BuzzRefer - Start Earning Discounts">
	<Header />
	<main class="flex-grow w-full overflow-x-hidden">
		<Hero />
		<HowItWorks />
		<CTASection />
		<Benefits />
		<FAQ />
		<ContactForm />
	</main>
	<Footer />
</Layout>
